<div class="center jumbotron">
  <h1>Welcome to Koodo Hub.</h1>
  <h2>share idids and projects with others and learn from others</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>